<h1>Counter observable</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount | async }}</strong></p>

<p aria-live="polite">Current count: <strong>{{ anotherCount | async }}</strong></p>

<p aria-live="polite">Sum: <strong>{{ sum | async }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<br>
<br>
<button class="btn btn-primary" (click)="incrementAnotherCounter()">Increment Another</button>
<br>
<br>
<button class="btn btn-primary" (click)="resetCounters()">Reset</button>

