<h1>Counter signal</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount() }}</strong></p>

<p aria-live="polite">Current count: <strong>{{ anotherCount() }}</strong></p>

<p aria-live="polite">Sum: <strong>{{ sum() }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<br>
<br>
<button class="btn btn-primary" (click)="incrementAnotherCounter()">Increment Another</button>
<br>
<br>
<button class="btn btn-primary" (click)="resetCounters()">Reset</button>

